{%  extends 'inc/base.html' %}
{%  load bootstrap4 %}
{% block title %}
      <nav class="nav d-flex align-items-center nav-questions">
          <div class="p-2 text-muted">Registration</div>
        </nav>
{%  endblock title %}
{%  block content %}
        <div class="col-md-8">
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <div class="form-group row">
                    <div class="col-sm-6 offset-sm-4">
                      <div class="py-4">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Register!</button>
                    </div>
                    </div>
                  </div>
                {% endbuttons %}
                  <div class="form-group row">
                    <div class="col-sm-6 offset-sm-4">
                        <a href="{% url "login" %}">You have already account? Sign in</a>
                    </div>
                  </div>
              </form>
    </div>
{%  endblock content %}