{%  extends 'inc/base.html' %}
{% block title %}
      <nav class="nav d-flex align-items-center nav-questions">
          <div class="p-2 text-muted">Registration</div>
        </nav>
{%  endblock title %}
{%  block content %}
        <div class="col-md-8">
            <form>
                <div class="form-group row">
                  <label for="staticTitle" class="col-sm-4 col-form-label">Login</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="dr_pepper" required>
                  </div>
                </div>
                <div class="form-group row">
                    <label for="staticTitle" class="col-sm-4 col-form-label">Email</label>
                    <div class="col-sm-6">
                      <input type="email" class="form-control is-invalid" placeholder="dr.pepper@mail.ru" required>
                      <div id="validationServer03Feedback" class="invalid-feedback">
                        Sorry, this email address is already registred!
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="staticTitle" class="col-sm-4 col-form-label">NickName</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" placeholder="Dr. Pepper" required>
                    </div>
                  </div>
                <div class="form-group row">
                    <label for="exampleInputPassword1" class="col-sm-4 col-form-label">Password</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="exampleInputPassword1"  placeholder="************" minlength="8" required>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="exampleInputPassword1" class="col-sm-4 col-form-label">Repeat Password</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="exampleInputPassword1"  placeholder="************" minlength="8" required>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="staticTitle" class="col-sm-4 col-form-label">Upload avatar</label>
                      <div class="col-sm-6">
                          <input type="file" class="custom-file-input" id="customFile">
                          <label class="custom-file-label" for="customFile">c:\avatar.jpg</label>
                      </div>
                    </div> 
                <div class="form-group row">
                    <div class="col-sm-6 offset-sm-4">
                      <div class="py-4">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Register!</button>
                    </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-6 offset-sm-4">
                        <a href="#">Create a new account</a>    
                    </div>
                  </div>
              </form>
    </div>
{%  endblock content %}