{%  load static %}
<div class="row no-gutters border overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative list-of-questions">
            <div class="col-3 flex-column position-static">
              <div class="p-2"><img  class="photo-on-profile" src="{% static "/img/user-1.png" %}" alt="avatar">
              </div>
                <div class="pl-4">
                <p>{{ question.author }}</p>
                    </div>
            <div class="p-1">
                {% include 'inc/like.html' %}
                {% include 'inc/dislike.html' %}
                <div></div>
              </div>
            </div>
            <div class="col-7 p-2">
              <div>
                <a class="title-of-question" href="{% url 'question' question.id%}">{{ question.title }}</a>
              </div>
              <div class="text-of-question">
                {{ question.text }}
              </div>
              <div class="col-auto row">
                <div class="col-6 p-0">
                <a href="{% url 'question' question.id%}">answer({{ answers|get_value:question.id }})</a>
              </div>
              <div class="col-6 p-0">
                Tags:
                  {%  for tag in question.tags.all %}
                 <a href="{% url 'tag' tag.id%}">{{ tag.title }}</a>
                  {% endfor %}
              </div>
            </div>
          </div>
        </div>